<div class="header-navigation mx-4 my-1 d-flex justify-content-between align-content-center">
  <div class="header-navigation-left-content  d-flex flex-column justify-content-center align-content-center">
    <div class="menu-group">
      <ul class="nav">
        <li class="nav-item rounded-2">
          <a class="nav-link" href="#">Danh mục</a>
        </li>
        <li class="nav-item rounded-2">
          <a class="nav-link" href="#">Vận hành</a>
        </li>
        <li class="nav-item rounded-2">
          <a class="nav-link " href="#">Sản xuất</a>
        </li>
        <li class="nav-item rounded-2">
          <a class="nav-link" href="#">Kho hàng</a>
        </li>
      </ul>
    </div>

  </div>
  <div class="header-navigation-right-content d-flex justify-content-between align-content-center">
    <div class="search-group me-2 d-flex flex-column justify-content-center align-content-center">
      <div class="form-control-feedback form-control-feedback-start">
        <input type="text" class="form-control rounded-2 border-2 shadow" placeholder="Tìm kiếm">
        <div class="form-control-feedback-icon form-control-feedback-icon-lg">
          <i class="bi bi-search"></i>
        </div>
      </div>
    </div>
    <div class="notification-avatar-group me-3">
      <ul class="nav flex-row justify-content-end align-content-center">
        <li class="m-1 nav-item d-flex flex-column justify-content-center notification rounded-2">
          <a href="#" class="navbar-nav-link navbar-nav-link-icon rounded-pill" data-bs-toggle="offcanvas" data-bs-target="#notifications">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"  style="color: var(--gray-700)" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
              <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2M8 1.918l-.797.161A4 4 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4 4 0 0 0-3.203-3.92zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5 5 0 0 1 13 6c0 .88.32 4.2 1.22 6"></path>
            </svg>
            <span class="badge bg-danger text-black position-absolute top-0 end-0 translate-middle-top zindex-1 rounded-pill">1</span>
          </a>
        </li>
        <li class="m-1 nav-item nav-item-dropdown-lg dropdown avatar">
          <a href="#" class="navbar-nav-link align-items-center rounded-pill p-1" data-bs-toggle="dropdown">
            <div class="status-indicator-container">
              <div class="w-40px h-40px">
                <img src="CBH.png" class="rounded-pill" style="object-fit: cover; height: 100%; width: 100%" alt="">
              </div>
              <span class="status-indicator bg-success"></span>
            </div>

          </a>

          <div class="dropdown-menu dropdown-menu-end">
            <a href="#" class="dropdown-item">
              <i class="ph-user-circle me-2"></i>
              My profile
            </a>
            <a href="#" class="dropdown-item">
              <i class="ph-currency-circle-dollar me-2"></i>
              My subscription
            </a>
            <a href="#" class="dropdown-item">
              <i class="ph-shopping-cart me-2"></i>
              My orders
            </a>
            <a href="#" class="dropdown-item">
              <i class="ph-envelope-open me-2"></i>
              My inbox
              <span class="badge bg-primary rounded-pill ms-auto">26</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
              <i class="ph-gear me-2"></i>
              Account settings
            </a>
            <a href="#" class="dropdown-item">
              <i class="ph-sign-out me-2"></i>
              Logout
            </a>
          </div>
        </li>
      </ul>
    </div>

  </div>
</div>
<hr class="m-0">


