<div class="header-page d-flex justify-content-between px-4">
  <div class="header-page-search">
    <div class="form-control-feedback form-control-feedback-start">
      <input type="text" class="form-control rounded-2 border-2 shadow" placeholder="Tìm kiếm">
      <div class="form-control-feedback-icon form-control-feedback-icon-lg">
        <i class="bi bi-search"></i>
      </div>
    </div>
  </div>
  <div class="header-page-buttons">
    <button type="button" class="btn btn-outline-primary rounded-3 fw-medium border-3 me-2">
      <i class="ph-bold ph-download-simple me-2"></i>
      Xuất excel
    </button>
    <button type="button" class="btn btn-primary rounded-3 me-2">
      <i class="ph-bold ph-plus me-2"></i>
      Thêm mới
    </button>
  </div>
</div>
